{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>PORTFOLIO</title>
	<style>
		.mastercontainer2{
			display: flex;
			flex: row;
			justify-content: space-around;
			margin-left: 150px;
		}
		.about{
			display: flex;
		}
		.projects{
			display: flex;
		}
		.contacts{
			display: flex;
		}
		.masterproject{
			display: flex;
		}
		.mastercontainer3{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 30px;
		}
		.instagram{
			display: flex;
		}
		.facebook{
			display: flex;
		}
		.linkdin{
			display: flex;
		}
		.gmail{
			display: flex;
		}
	</style>
</head>
<body style ="background-image:url({% static './2.jpg' %}); background-repeat: no-repeat center center fixed ; background-size: cover; ">
	<div class="mastercontainer1">
		
		<img src="{% static './explorin3.jpeg' %}" style="border-radius: 40px; height: 65px; width: 200px;">
		<center>
		<div class="image">
	<img src="{% static './jai22.jpeg' %}" style=" border-radius:600px; height: 200px; width: 200px; border:solid 3px; margin-top: 30;">
        </div>
        <div class="content" style="margin-top: 20px;">
        	<h1 style="font-style: italic;">JAI SONI</h1>
        	<p> <b>SOFTWARE     DEVELOPMENT     EXPLORATION     PROGRAM</b></p>
        </div>
    </div>
    <div class="mastercontainer2">
    	<div class="about" style="font-size: 20px;font-style: italic;"><a href="./about" class="hmm" style="color: white; background-color: #00BFFF;
            border: none;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            height: 40px;
            padding:5px;
            margin-top: 28px;
            font-size: 25px;">About
        </a></div>
    	<div class="projects" style="font-size: 20px;font-style: italic;"><a href="./projects" class="hmm" style="color: white; background-color: #00BFFF;
            border: none;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            height: 40px;
            padding:5px;
            margin-top: 28px;
            font-size: 25px;">Projects
        </a></div>
    	<div class="contacts" style="font-size: 20px;font-style: italic;"><a href="./contacts" class="hmm" style="color: white; background-color: #00BFFF;
            border: none;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            height: 40px;
            padding:5px;
            margin-top: 28px;
            font-size: 25px;">Contact
        </a></div>
    	<div class="masterproject" style="font-size: 20px;font-style: italic;"><a href=http://jai22-iitr.explorin.io/instagram/login/ class="hmm" style="color: white; background-color: #00BFFF;
            border: none;
            text-decoration: none;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            height: 40px;
            padding:5px;
            margin-top: 28px;
            font-size: 25px;">Instagram project(The master project)
        </a></div>
    </div>
    <br>
    <div class="mastercontainer3">
    	<div class="instagram">
    		<a href="https://www.instagram.com/jai.soni22/?hl=en"><img src="https://maxcdn.icons8.com/Share/icon/win8/Logos/instagram_new1600.png" height="25px" width="25px";>
    	</div>
    	<div class="facebook">
    		<a href="https://www.facebook.com/profile.php?id=100056052960825"><img src="https://cdn.iconscout.com/icon/free/png-256/facebook-238-599118.png" height="30px" width="30px";>
    	</div>
    	<div class="linkdin">
    		<a href="https://www.linkedin.com/in/jai-soni-77758b202/"><img src="https://maxcdn.icons8.com/Share/icon/p1em/Logos/linkedin1600.png" height="30px" width="30px";>
    	</div>
    	<div class="gmail">
    		<a href="https://mail.google.com/mail/u/0/#inbox"><img src="https://www.shareicon.net/data/2016/07/08/117666_email_512x512.png" height="30px" width="30px";>
    	</div>
    	<div class="twitter">
    		<a href="https://twitter.com/Jai81062202"><img src="http://findicons.com/files/icons/2779/simple_icons/4096/twitter_4096_black.png" height="35px" width="30px";>
    	</div>
    </div>
    </center>
</body>
</html>




